@model IEnumerable<Avia8r.Models.MxEventListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MxId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MxDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursOutOfService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MxId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MxDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursOutOfService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
